*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.login{
    padding: 150px 100px;
    background-image: url(images/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

input{
    font-size: 25px;
    margin-top: 20px;
    border-radius: 25px;
    border-color: white;
    padding: 10px;
}

button{
    margin-left: 31%;
    margin-top: 15px;
    font-size: 30px;
    color: white;
    background-color: orange;
    border-color: orange;
    padding: 10px;
}